{
  "openapi": "3.0.3",
  "info": {
    "title": "Cleopetra",
    "description": "Development documentation",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://public-api.cleopetra.fun"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/dlmm/initialize": {
      "post": {
        "operationId": "postDlmmInitialize",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DlmmInitializeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DlmmInitializeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dlmm/close": {
      "post": {
        "operationId": "postDlmmClose",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DlmmCloseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dlmm/claim": {
      "post": {
        "operationId": "postDlmmClaim",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DlmmClaimRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dlmm/rebalance": {
      "post": {
        "operationId": "postDlmmRebalance",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DlmmRebalanceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DlmmInitializeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dlmm/position": {
      "get": {
        "operationId": "getDlmmPosition",
        "parameters": [
          {
            "name": "position",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DlmmPositionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dammv2/initialize": {
      "post": {
        "operationId": "postDammv2Initialize",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dammv2InitializeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dammv2InitializeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dammv2/close": {
      "post": {
        "operationId": "postDammv2Close",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dammv2CloseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dammv2/claim": {
      "post": {
        "operationId": "postDammv2Claim",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dammv2ClaimRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dammv2/position": {
      "get": {
        "operationId": "getDammv2Position",
        "parameters": [
          {
            "name": "position",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dammv2PositionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/positions/": {
      "get": {
        "operationId": "getPositions",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "programs",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["dammv2", "dlmm"]
              },
              "default": ["dammv2", "dlmm"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PositionsListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pools/token": {
      "get": {
        "operationId": "getPoolsToken",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "programs",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["dlmm", "dammv2"]
              },
              "default": ["dlmm", "dammv2"]
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["desc", "asc"],
              "default": "desc"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["tvl", "volume", "feetvlratio"],
              "default": "volume"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PoolInfo"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TokenInfo": {
        "type": "object",
        "required": ["mint", "symbol", "decimals"],
        "properties": {
          "mint": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "decimals": {
            "type": "number"
          },
          "image": {
            "type": "string"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "required": [
          "ixn_type",
          "program_type",
          "signature",
          "position",
          "instruction_idx",
          "token_x_amount",
          "token_y_amount",
          "token_x_usd_amount",
          "token_y_usd_amount",
          "timestamp"
        ],
        "properties": {
          "ixn_type": {
            "type": "string"
          },
          "program_type": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          },
          "position": {
            "type": "string"
          },
          "instruction_idx": {
            "type": "number"
          },
          "token_x_amount": {
            "type": "string"
          },
          "token_y_amount": {
            "type": "string"
          },
          "token_x_usd_amount": {
            "type": "number"
          },
          "token_y_usd_amount": {
            "type": "number"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DlmmInitializeRequest": {
        "type": "object",
        "required": [
          "user",
          "mode",
          "pool",
          "strategy",
          "min_price",
          "max_price",
          "slippage"
        ],
        "properties": {
          "user": {
            "type": "string"
          },
          "mode": {
            "type": "string",
            "enum": ["zap", "normal"],
            "default": "zap"
          },
          "pool": {
            "type": "string"
          },
          "strategy": {
            "type": "string",
            "enum": ["bid_ask", "curve", "spot"],
            "default": "bid_ask"
          },
          "amount_x": {
            "type": "number"
          },
          "amount_y": {
            "type": "number"
          },
          "amount_sol": {
            "type": "number"
          },
          "min_price": {
            "type": "string"
          },
          "max_price": {
            "type": "string"
          },
          "liquidity_distribution": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "minItems": 2,
            "maxItems": 2
          },
          "platform_fee_account": {
            "type": "string"
          },
          "platform_bps": {
            "type": "number"
          },
          "slippage": {
            "type": "number",
            "default": 500
          }
        }
      },
      "DlmmInitializeResponse": {
        "type": "object",
        "required": ["transactions", "positions"],
        "properties": {
          "transactions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "positions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DlmmCloseRequest": {
        "type": "object",
        "required": ["user", "mode", "position", "slippage"],
        "properties": {
          "user": {
            "type": "string"
          },
          "mode": {
            "type": "string",
            "enum": ["zap", "normal"],
            "default": "zap"
          },
          "position": {
            "type": "string"
          },
          "slippage": {
            "type": "number",
            "default": 500
          }
        }
      },
      "DlmmClaimRequest": {
        "type": "object",
        "required": ["user", "mode", "position", "slippage"],
        "properties": {
          "user": {
            "type": "string"
          },
          "mode": {
            "type": "string",
            "enum": ["zap", "normal"],
            "default": "zap"
          },
          "position": {
            "type": "string"
          },
          "slippage": {
            "type": "number",
            "default": 500
          }
        }
      },
      "DlmmRebalanceRequest": {
        "type": "object",
        "required": [
          "user",
          "position",
          "strategy",
          "min_price",
          "max_price",
          "slippage",
          "reinvest_fees"
        ],
        "properties": {
          "user": {
            "type": "string"
          },
          "position": {
            "type": "string"
          },
          "strategy": {
            "type": "string",
            "enum": ["spot", "curve", "bid_ask"],
            "default": "spot"
          },
          "min_price": {
            "type": "string"
          },
          "max_price": {
            "type": "string"
          },
          "slippage": {
            "type": "number",
            "default": 500
          },
          "reinvest_fees": {
            "type": "boolean",
            "default": false
          },
          "liquidity_distribution": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "minItems": 2,
            "maxItems": 2
          },
          "platform_fee_account": {
            "type": "string"
          },
          "platform_bps": {
            "type": "number"
          }
        }
      },
      "TransactionsResponse": {
        "type": "object",
        "required": ["transactions"],
        "properties": {
          "transactions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DlmmPositionResponse": {
        "type": "object",
        "required": [
          "pool",
          "owner",
          "is_active",
          "token_x_info",
          "token_y_info",
          "token_x_amount",
          "token_y_amount",
          "token_x_unclaimed_fees",
          "token_y_unclaimed_fees",
          "token_x_claimed_fees",
          "token_y_claimed_fees",
          "total_current_usd",
          "pnl_usd",
          "pnl",
          "total_deposit_usd",
          "total_unclaimed_fees_usd",
          "total_claimed_fees_usd",
          "price",
          "max_price",
          "min_price",
          "created_at",
          "ixns"
        ],
        "properties": {
          "pool": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "token_x_info": {
            "$ref": "#/components/schemas/TokenInfo"
          },
          "token_y_info": {
            "$ref": "#/components/schemas/TokenInfo"
          },
          "token_x_amount": {
            "type": "string"
          },
          "token_y_amount": {
            "type": "string"
          },
          "token_x_unclaimed_fees": {
            "type": "string"
          },
          "token_y_unclaimed_fees": {
            "type": "string"
          },
          "token_x_claimed_fees": {
            "type": "string"
          },
          "token_y_claimed_fees": {
            "type": "string"
          },
          "total_current_usd": {
            "type": "number"
          },
          "pnl_usd": {
            "type": "number"
          },
          "pnl": {
            "type": "number"
          },
          "total_deposit_usd": {
            "type": "number"
          },
          "total_unclaimed_fees_usd": {
            "type": "number"
          },
          "total_claimed_fees_usd": {
            "type": "number"
          },
          "price": {
            "type": "number"
          },
          "max_price": {
            "type": "number"
          },
          "min_price": {
            "type": "number"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "ixns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          }
        }
      },
      "Dammv2InitializeRequest": {
        "type": "object",
        "required": ["user", "mode", "pool", "slippage"],
        "properties": {
          "user": {
            "type": "string"
          },
          "mode": {
            "type": "string",
            "enum": ["normal", "zap"],
            "default": "normal"
          },
          "pool": {
            "type": "string"
          },
          "amount_x": {
            "type": "string"
          },
          "amount_y": {
            "type": "string"
          },
          "amount_sol": {
            "type": "string"
          },
          "slippage": {
            "type": "number",
            "default": 500
          },
          "platform_bps": {
            "type": "number"
          },
          "platform_fee_account": {
            "type": "string"
          }
        }
      },
      "Dammv2InitializeResponse": {
        "type": "object",
        "required": ["transactions", "position_nft_mint_kp"],
        "properties": {
          "transactions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "position_nft_mint_kp": {
            "type": "string"
          }
        }
      },
      "Dammv2CloseRequest": {
        "type": "object",
        "required": ["user", "mode", "position", "slippage"],
        "properties": {
          "user": {
            "type": "string"
          },
          "mode": {
            "type": "string",
            "enum": ["normal", "zap"],
            "default": "normal"
          },
          "position": {
            "type": "string"
          },
          "slippage": {
            "type": "number",
            "default": 500
          }
        }
      },
      "Dammv2ClaimRequest": {
        "type": "object",
        "required": ["user", "mode", "position", "slippage"],
        "properties": {
          "user": {
            "type": "string"
          },
          "mode": {
            "type": "string",
            "enum": ["normal", "zap"],
            "default": "normal"
          },
          "position": {
            "type": "string"
          },
          "slippage": {
            "type": "number",
            "default": 500
          }
        }
      },
      "Dammv2PositionResponse": {
        "type": "object",
        "required": [
          "pool",
          "owner",
          "is_active",
          "token_x_info",
          "token_y_info",
          "token_x_amount",
          "token_y_amount",
          "token_x_unclaimed_fees",
          "token_y_unclaimed_fees",
          "token_x_claimed_fees",
          "token_y_claimed_fees",
          "total_deposit_usd",
          "total_unclaimed_fees_usd",
          "total_claimed_fees_usd",
          "price",
          "created_at",
          "ixns"
        ],
        "properties": {
          "pool": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "token_x_info": {
            "$ref": "#/components/schemas/TokenInfo"
          },
          "token_y_info": {
            "$ref": "#/components/schemas/TokenInfo"
          },
          "token_x_amount": {
            "type": "string"
          },
          "token_y_amount": {
            "type": "string"
          },
          "token_x_unclaimed_fees": {
            "type": "string"
          },
          "token_y_unclaimed_fees": {
            "type": "string"
          },
          "token_x_claimed_fees": {
            "type": "string"
          },
          "token_y_claimed_fees": {
            "type": "string"
          },
          "total_deposit_usd": {
            "type": "number"
          },
          "total_unclaimed_fees_usd": {
            "type": "number"
          },
          "total_claimed_fees_usd": {
            "type": "number"
          },
          "price": {
            "type": "number"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "ixns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          }
        }
      },
      "PositionInfo": {
        "type": "object",
        "required": [
          "position_address",
          "program_type",
          "pool_address",
          "token_x_info",
          "token_y_info",
          "total_current_usd",
          "total_deposit_usd",
          "total_unclaimed_fees_usd",
          "total_claimed_fees_usd",
          "created_at",
          "pnl",
          "pnl_usd",
          "in_range"
        ],
        "properties": {
          "position_address": {
            "type": "string"
          },
          "program_type": {
            "type": "string"
          },
          "pool_address": {
            "type": "string"
          },
          "token_x_info": {
            "$ref": "#/components/schemas/TokenInfo"
          },
          "token_y_info": {
            "$ref": "#/components/schemas/TokenInfo"
          },
          "total_current_usd": {
            "type": "number"
          },
          "total_deposit_usd": {
            "type": "number"
          },
          "total_unclaimed_fees_usd": {
            "type": "number"
          },
          "total_claimed_fees_usd": {
            "type": "number"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "pnl": {
            "type": "number"
          },
          "pnl_usd": {
            "type": "number"
          },
          "in_range": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "PositionsListResponse": {
        "type": "object",
        "required": ["count", "total", "positions"],
        "properties": {
          "count": {
            "type": "number"
          },
          "total": {
            "type": "number"
          },
          "positions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PositionInfo"
            }
          }
        }
      },
      "PoolInfo": {
        "type": "object",
        "required": [
          "type",
          "address",
          "token_x_info",
          "token_y_info",
          "reserve_x_amount",
          "reserve_y_amount",
          "tvl",
          "fees_24h",
          "volume_24h",
          "fee_tvl_ratio",
          "apr",
          "price"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["Dlmm", "DammV2"],
            "default": "Dlmm"
          },
          "address": {
            "type": "string"
          },
          "token_x_info": {
            "$ref": "#/components/schemas/TokenInfo"
          },
          "token_y_info": {
            "$ref": "#/components/schemas/TokenInfo"
          },
          "reserve_x_amount": {
            "type": "number"
          },
          "reserve_y_amount": {
            "type": "number"
          },
          "tvl": {
            "type": "number"
          },
          "fees_24h": {
            "type": "number"
          },
          "volume_24h": {
            "type": "number"
          },
          "fee_tvl_ratio": {
            "type": "number"
          },
          "apr": {
            "type": "number"
          },
          "price": {
            "type": "number"
          },
          "bin_step": {
            "type": "number"
          },
          "base_fee_percentage": {
            "type": "number"
          },
          "sqrt_price": {
            "type": "number"
          },
          "sqrt_min_price": {
            "type": "string"
          },
          "sqrt_max_price": {
            "type": "string"
          },
          "fee_scheduler_mode": {
            "type": "string",
            "enum": ["Linear", "Exponential"],
            "default": "Linear"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
